<!DOCTYPE html>
<html>
<head>
  <title>WebBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="bar">

  <a href="<%= posts_url %>">Home</a>
  <a href="<%= posts_url %>">Articles</a>

</div>

<div class="baroption">
  <% if logged_in %>
    <a> Hi,<%= current_user.name %></a>
    <a href="/logout"> logout </a>
  <% else %>
    <a href="<%= login_url %>">Log in</a>
    <a href="/users/new"> Sign up </a>
  <% end %>
</div>




<%= yield %>
</body>
</html>
